@page
@model AirportsInUSModel
@{
    ViewData["Title"] = "Airports in United States";
}

<form method="post" style="margin-top: 50px;">
    <div class="form-group">
        <label class="control-label" for="UnescoCountry">Search airports around the USA</label>
        
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @(Model.SelectedCity != null? Model.SelectedCity : "Select City")
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" asp-page="/airportsInUS" asp-route-name="New York">New York</a>
                <a class="dropdown-item" asp-page="/airportsInUS" asp-route-name="Chicago">Chicago</a>
                <a class="dropdown-item" asp-page="/airportsInUS" asp-route-name="Cincinnati">Cincinnati</a>
                <a class="dropdown-item" asp-page="/airportsInUS" asp-route-name="Manhattan">Manhattan</a>
                <a class="dropdown-item" asp-page="/airportsInUS" asp-route-name="NYC">NYC</a>
                <a class="dropdown-item" asp-page="/airportsInUS" asp-route-name="California">California</a>
                <a class="dropdown-item" asp-page="/airportsInUS" asp-route-name="Indiana">Indiana</a>
                <a class="dropdown-item" asp-page="/airportsInUS" asp-route-name="Philadelphia">Philadelphia</a>
            </div>
        </div>
    </div>
</form>

    <p>List of Airports:</p>

    <table class="airport-table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">City</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var airport in @Model.Airports)
            {
                <tr>
                    <td>@airport.Name</td>
                    <td>@airport.CityName</td>
                </tr>
            }
        </tbody>
    </table>
