@page
@model TouristAttractionsJSON.Pages.JsonModel
@{
    ViewData["Title"] = "Json";
}

<link rel="stylesheet"  media="print" href= "~css/JsonFile.css"  />
<link rel="stylesheet"  media="print" href= "css/styles css"  />
<div class="container-fluid">
   
    
    
    <h1>JSON Output</h1>
</div>

<hr class="bg-white" />


<div class="container-fluid">
    <p>
        Please change city name in the url to get weather API for that particular City
    </p>
</div>

<div class="container-fluid">
    <p>
        You can use this URL to get a JSON Stream of
        <a asp-page="/WeatherShare" asp-route-city="Cincinnati">Weather in Cincinnati</a>
    </p>
</div>